.loginImage{
    background-image: url(../../../assets/images/loginPage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
    
}

.ct{
    padding: 150px;
    color: white;
}