

   <div class="container">
       <h2 class="text-center">Cart Items</h2>
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Remarks</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let p of pItems">
                        <td>{{p.id}}</td>
                        <td>{{p.productName}}</td>
                        <td>{{p.imageUri}}</td>
                        <td>{{p.quantity}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.remarks}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="removeItem(p.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
   </div>













<!-- <ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="" alt="">
            <h4>Your Cart is Empty! </h4>
            <h6>Add item to it now</h6>
            <button class="btn btn-success">Order Now</button>
        </div>
    </div>
</ng-container> -->