<div class="container">
    <h2 class="text-center">Cart Items</h2>
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Remarks</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of pItems">
                        <td>{{p.id}}</td>
                        <td>{{p.productName}}</td>
                        <td>{{p.imageUri}}</td>
                        <td>{{p.quantity}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.remarks}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="removeItem(p.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>


    <div class="container col-md-9 mt-5 mb-5">
        <h1 class="text-center">Customer Information</h1>
        <div class="row" *ngIf="msg">
            <div class="col-xs-12">
                <p class="alert alert-success">
                    <strong>Your Ordered is placed Successfull</strong>

                </p>
            </div>
        </div>
        <form (ngSubmit)="saveOrder()">
            <input type="text" name="name" class="form-control" [(ngModel)]="cart.name"
                placeholder="Enter Your Full Name" />
            <input type="number" name="contact" class="form-control" [(ngModel)]="cart.contact"
                placeholder="Enter Your Mobile" />
            <input type="email" name="email" class="form-control" [(ngModel)]="cart.email"
                placeholder="Enter Your Email" />
            <textarea class="form-control" name="address" [(ngModel)]="cart.address"
                placeholder="Enter Your Address"></textarea>
            <button class="btn btn-success mt-3" type="submit">Order Now</button>
        </form>

    </div>
</div>













<!-- <ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="" alt="">
            <h4>Your Cart is Empty! </h4>
            <h6>Add item to it now</h6>
            <button class="btn btn-success">Order Now</button>
        </div>
    </div>
</ng-container> -->