<div class="main">
    <div class="sidebar">
        <span>Product Categories</span>
        <ul>
            <li><a (click)="allClick()"><img src="../../../assets/icons/all-svgrepo-com.svg"> All</a></li>
            <li><a (click)="mensClick(1)" ><img src="../../../assets/icons/tshirt-solid.svg">Men's Fashion</a></li>
            <li><a (click)="womensClick(2)" ><img src="../../../assets/icons/female-dress-svgrepo-com.svg">Women's Fashion</a></li>
            <li><a (click)="deviceClick(3)" ><img src="../../../assets/icons/devices-electronics-svgrepo-com .svg">Electronics Devices</a></li>
            <li><a  ><img src="../../../assets/icons/sports-svgrepo-com.svg">Sport's & Outdoor</a></li>
            <li><a  ><img src="../../../assets/icons/car-toys-svgrepo-com.svg">Babies & Toys</a></li>
            
            
        </ul>



    </div>




    <div class="container productPage">
        <div class="container mt-5 md-4 text-center">
            <h1 class="text-center">Exclusive Collection</h1>
            <div class="row">
                <div class="col-lg-3 mt-3" *ngFor="let p of products">
                    <div class="productBox">
                        <img src="{{p.imageUri}}" alt="" [routerLink]="['/products', p.id]" >
                        <h1>{{p.productName}}</h1>
                        <p>{{"BDT "+p.price+" TK"}}</p>
                        <h5>{{"Availabe "+p.quantity}}</h5>
                        <a [routerLink]="['/products',p.id]" class="d-grid">Shop Now</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>