.productBox{
    padding: 10px 5px;
}

.productBox img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.productBox img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.productBox h1{
    font-size: 18px;
    margin-top: 10px;
}

.productBox p{
    font-size: 20px;
    color: rgb(250, 186, 11);

}

.productBox a{
    text-decoration: none;
    background-color: rgb(10, 126, 10);
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 20px;
    color: white;
}

.main{
    display: flex;
}

.sidebar{
    min-width: 25%;
    padding-left: 60px;
    padding-top: 46px;
    background-color: rgb(239, 250, 236);
    



}

.productPage{
    min-width: 75%;
    padding-right: 60px;
    
}

.sidebar ul li{
    list-style: none;
    padding: 6px;
    font-size: 15px;
    font-weight: 700;
    
    
}

ol,ul {
  padding-left: 0;
}

.sidebar ul li img{
   
   max-width: 15px;
   height: 21px;
   margin-right: 17px;
    


}



span{
    font-size: 25px;
    font-weight: bold;
}

ul li a {
    display:block;
    
   }
   
ul li a:hover, ul li a:active {
    color:rgb(37, 167, 37);
    cursor: pointer;
    font-size: 150%;
   }