<div class="main">
    <div class="container sidbar">
        <span>Product Categories</span>
        <ul>
            <li><a (click)="allClick()" >All</a></li>
            <li><a (click)="mensClick(1)" >Men's Fashion</a></li>
            <li><a (click)="womensClick(2)" >Women's Fashion</a></li>
            <li><a (click)="deviceClick(3)" >Electronics Devices</a></li>
            <li><a  >Sport's & Outdoor</a></li>
            <li><a  >Babies & Toys</a></li>
            
            
        </ul>



    </div>




    <div class="container productPage">
        <div class="container mt-5 md-4">
            <h1 class="text-center">Exclusive Collection</h1>
            <div class="row">
                <div class="col-lg-3 mt-3" *ngFor="let p of products">
                    <div class="productBox">
                        <img src="{{p.imageUri}}" alt="">
                        <h1>{{p.productName}}</h1>
                        <p>{{"BDT "+p.price+" TK"}}</p>
                        <h5>{{"Availabe "+p.quantity}}</h5>
                        <a [routerLink]="['/products',p.id]">Add to Cart</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>