.productBox{
    padding: 10px 5px;
}

.productBox img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.productBox h1{
    font-size: 18px;
    margin-top: 10px;
}

.productBox p{
    font-size: 20px;
    color: rgb(250, 186, 11);

}

.productBox a{
    text-decoration: none;
    background-color: green;
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 20px;
    color: white;
}

.main{
    display: flex;
}

.sidbar{
    min-width: 25%;
    padding-left: 60px;
    padding-top: 60px;



}

.productPage{
    min-width: 75%;
    padding-right: 60px;
}

.sidbar ul li{
    list-style: none;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    


}

span{
    font-size: 25px;
    font-weight: bold;
}

ul li a {
    display:block;
   }
   
   ul li a:hover, ul li a:focus {
    color:rgb(20, 248, 20);
    cursor: pointer;
   }